<ion-content>
  <ion-button (click)="routeToHome()" fill="clear">
    <ion-icon name="home-sharp"></ion-icon>
  </ion-button>
  <ion-slides (ionSlideDidChange)="slideChanged()" pager="true">
    <ion-slide>
      <div class="slide">
        <img src="../../../assets/animals/lion.png" />
        <h2> A lion’s roar can be heard from as far as 5 miles away.</h2>
      </div>
    </ion-slide>

    <ion-slide>
      <div class="slide">
        <img src="../../../assets/animals/elephant.png" />
        <h2>An elephant trunk has up to 40,000 muscles.</h2>
      </div>
    </ion-slide>

    <ion-slide>
      <div class="slide">
        <img src="../../../assets/animals/bear.png"/>
        <h2>Polar Bear's skin is Black only the fur is white.</h2>
      </div>
    </ion-slide>

    <ion-slide>
      <div class="slide">
        <img src="../../../assets/animals/girrafe.png" />
        <h2>Giraffes only sleep for 5 to 30 mins in a 24-hour period! They take quick naps of 1 or 2 min at a time</h2>
      </div>
    </ion-slide>
    <ion-slide>
      <div class="slide">
        <img src="../../../assets/animals/tiger.png" />
        <h2>Since every tiger has their own pattern on their fur, they are all unique!</h2>
      </div>
    </ion-slide>
  </ion-slides>
</ion-content>
