
ion-content{
    --background: #E2F4FC;     
}
ion-icon{
    color:rgb(0, 0, 24);
    font-size: 28px;
}
ion-button{
    margin-top: 20px;
}
ion-slides {
    height: 90%;
}  
.swiper-pagination-bullet {
    background: #000000;
    opacity: 1;
}
.slide{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.swiper-pagination-bullet-active {
    opacity: 1;
    background: #c80000;
    width: 20px;
    border-radius: 25% !important;
}
h2{
    width: 80%;
    text-align: center;
}
